@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-SemiBold.eot");
  src: 
    local("Segoe UI Semibold"), local("SegoeUI-SemiBold"),
    url("../fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI/SegoeUI-SemiBold.woff2") format("woff2"),
    url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff"),		
    url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI.eot");
  src: 
    local("Segoe UI"), local("SegoeUI"),
    url("../fonts/SegoeUI/SegoeUI.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI/SegoeUI.woff") format("woff"),
    url("../fonts/SegoeUI/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}