@import 'fonts';

$back: rgb(158, 83, 70);

body {
  font-family: 'Segoe UI';
  font-weight: normal;
  background-color: $back;
  user-select: none;
}
h1 {
  font-family: 'Segoe UI';
  font-weight: normal;
}

.image {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-image: url('../image/1.jpg');
}